extends ../layout
block content
	.container.reg-container
		.row
			span.col-md-2 #{enterName}
			input#regUserName.col-md-6(placeholder="User name")
			span.col-md-4
		.row.reg-margin-top
			span.col-md-2 #{enterPwd}
			input#regPwd.col-md-6(placeholder="Password")
			span.col-md-4
		.row.reg-margin-top
			#regSubmit.reg-submit.btn.btn-primary #{submit}
